
<nav class="navbar navbar-expand-lg navbar-light " style="box-shadow: 0px 4px 10px #E8E3E3; background-color: white; z-index: 2">

    <div style="border-right: 1px solid gray;margin-right: 1em; padding-right: 1em">

        <a href="#" id="sidebarCollapse" >
            <span class="navbar-toggler-icon" style=""></span>
        </a>
    </div>

    <a class="navbar-brand mr-auto" href="#" style="font-size: 1.5em">Administrateur</a>
    <a class="maPainInTheS" alt="Vous êtes connecté avec: &#10; user@email.com"> <i class="fas fa-user-tie ml-auto" style="font-size: 1.8em"></i> </a>
</nav>
